* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: url(banner3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 10%;
    padding: 10%;
}

header h2 {
    color: white;
    text-align: center;
}

header button {
    display: block;
    margin: 0 auto;
    background-color: blue;
    border: 0px;
    border-radius: 5%;
    padding: 10px;

}